<h1>About</h1>
<br>

<p>This website was created as part of my dissertation project for my Computer Science degree at the University of Plymouth. The website is a recipe sharing platform where users can view, create, and share recipes with others, as well as search through recipes via owned ingredients, so that users can reduce food waste by finding what recipes they can make with their available ingredients. The website allows users to register an account, log in, create recipes, view recipes, and search for recipes by category or name.</p>
<br>